<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href="#">حسابي الشخصي</a> 
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        
                        <li><a href="/addskill">اضف</a></li>
                        <li><a href="#">خروج</a></li>
                    </ul>
                </div> 
            
            </li> 
        </ul>
          

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/skills">مهارات</a></li>
            <li class="uk-active"><a href="/myskill">مهاراتي</a></li>
            <li class="uk-active">
                <a href="\loginpage" >الدخول </a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">                     
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div> 
                
            </li> 
            <li class="uk-active"><a href="/regPage">التسجيل</a></li>
            <li>
                <a href="/">حرفة</a>
                        
            
            </li>
        </ul>

    </div>

</nav>